<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.coreasim.eclipse.editors.Activator">
      </startup>
   </extension>
   <!-- Eigener Editor Anfang -->
   <extension
   		point="org.eclipse.ui.editors">
   	  <editor
   	  		class="org.coreasim.eclipse.editors.ASMEditor"
   	  		contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
   	  		default="false"
   	  		extensions="casm,coreasim"
			icon="icons/CoreASIM-Logo.png"
   	  		id="org.coreasim.eclipse.ASMEditor"
   	  		name="CoreASIMEditor">
   	  </editor>
   </extension>
   <extension
   		id="org.coreasim.eclipse.markers.ProblemMarker"
   		point="org.eclipse.core.resources.markers"
  		name="CoreASIM Problem" >
        <super type="org.eclipse.core.resources.problemmarker"/>
	    <persistent value="true" />
		<attribute name="data" />
   </extension>
   <extension
         id="org.coreasim.eclipse.markers.RuntimeProblemMarker"
         name="CoreASIM Runtime Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
   		id="org.coreasim.eclipse.markers.PluginMarker"
   		point="org.eclipse.core.resources.markers"
  		name="CoreASIM Plugin Marker" >
		<super type="org.eclipse.core.resources.marker"/>
	    <persistent value="true" />
	    <attribute name="plugins" />
   </extension>
   <extension
   		id="org.coreasim.eclipse.markers.IncludeMarker"
   		point="org.eclipse.core.resources.markers"
  		name="CoreASIM Include Marker" >
		<super type="org.eclipse.core.resources.marker"/>
	    <persistent value="true" />
	    <attribute name="includes" />
   </extension>
   <!-- Eigener Editor Ende -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.coreasim.eclipse.actionSet"
            label="CoreASIM Action Set"
            visible="true">
         <menu
               icon="icons/CoreASIM-Logo.png"
               id="org.coreasim.eclipse.mainmenu"
               label="Core&amp;ASM">
            <separator
                  name="CoreASIMGroup">
            </separator>
         </menu>
         <action
               allowLabelUpdate="true"
               class="org.coreasim.eclipse.actions.StopEngineAction"
               icon="icons/stopEngine16.gif"
               id="org.coreasim.eclipse.stopEngineAction"
               label="Stop Engine"
               menubarPath="org.coreasim.eclipse.mainmenu/CoreASIMGroup"
               state="true"
               style="push"
               toolbarPath="CoreASIMGroup"
               tooltip="Stop CoreASIM Engine">
         </action>
         <action
               allowLabelUpdate="true"
               class="org.coreasim.eclipse.actions.PauseEngineAction"
               icon="icons/logo-16x-pauseEngine.gif"
               id="org.coreasim.eclipse.pauseEngineAction"
               label="Pause Engine"
               menubarPath="org.coreasim.eclipse.mainmenu/CoreASIMGroup"
               state="true"
               style="push"
               toolbarPath="CoreASIMGroup"
               tooltip="Pause CoreASIM Engine">
         </action>
         <action
               allowLabelUpdate="true"
               class="org.coreasim.eclipse.actions.ResumeEngineAction"
               icon="icons/logo-16x-resumeEngine.gif"
               id="org.coreasim.eclipse.resumeEngineAction"
               label="Resume Engine"
               menubarPath="org.coreasim.eclipse.mainmenu/CoreASIMGroup"
               state="true"
               style="push"
               toolbarPath="CoreASIMGroup"
               tooltip="Resume CoreASIM Engine">
         </action>
         <action
               allowLabelUpdate="true"
               class="org.coreasim.eclipse.actions.CoreASIMHelpAction"
               icon="icons/logo-16x-helpCoreASIM.gif"
               id="org.coreasim.eclipse.helpAction"
               label="CoreASIM Help"
               menubarPath="org.coreasim.eclipse.mainmenu/CoreASIMGroup"
               state="true"
               style="push"
               toolbarPath="CoreASIMGroup"
               tooltip="CoreASIM Help">
         </action>
         <action
               allowLabelUpdate="true"
               class="org.coreasim.eclipse.actions.CoreASIMAboutAction"
               icon="icons/CoreASIM-Logo.png"
               id="org.coreasim.eclipse.aboutAction"
               label="About CoreASIM"
               menubarPath="org.coreasim.eclipse.mainmenu/CoreASIMGroup"
               state="true"
               style="push"
               toolbarPath="CoreASIMGroup"
               tooltip="About CoreASIM">
         </action>
      </actionSet>
   </extension>
   <extension
         id="org.coreasim.eclipse.newwizards"
         name="%NewWizards.Category.CoreASIM"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.coreasim.eclipse.wizard"
            name="CoreASIM">
      </category>
      <wizard
            category="org.coreasim.eclipse.wizard"
            class="org.coreasim.eclipse.wizards.ASMNewWizard"
            icon="icons/CoreASIM-Logo.png"
            id="org.coreasim.eclipse.newFileWizard"
            name="CoreASIM Specification">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="CoreASIM"
            class="org.coreasim.eclipse.preferences.ASMPreferencePage"
            id="org.coreasim.eclipse.ASMPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page 
      		class="org.coreasim.eclipse.preferences.ASMTemplatePreferencePage"
      		id="org.coreasim.eclipse.ASMTemplatePreferencePage" 
      		name="Templates"
      		category="org.coreasim.eclipse.ASMPreferencePage"> 
	  </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType 
      		class="org.coreasim.eclipse.editors.contentassist.ASMTemplateContextType" 
      		id="coreasim"
      		name="CoreASIM Templates">
	  </contextType>

	  <include 
	  		file="coreasim-templates.xml" 
	  		translations="coreasim-templates.xml">
	  </include>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.coreasim.eclipse.editors.ASMEditor"
            class="org.coreasim.eclipse.debug.ui.ASMBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.coreasim.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="CoreASIM Page"
            nameFilter="*.casim|*.coreasim"
            class="org.coreasim.eclipse.properties.ASMPropertyPage"
            id="org.coreasim.eclipse.properties.samplePropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CoreASIM"
            id="org.coreasim.eclipse.CoreASIM">
      </category>
      <view
            name="CoreASIM AST Tree View"
            icon="icons/CoreASIM-Logo.png"
            category="org.coreasim.eclipse.CoreASIM"
            class="org.coreasim.eclipse.editors.views.ASMAstTreeView"
            id="org.coreasim.eclipse.views.ASMAstTreeView">
      </view>
      <view
            category="org.coreasim.eclipse.CoreASIM"
            class="org.coreasim.eclipse.debug.ui.views.ASMUpdateView"
            icon="icons/CoreASIM-Logo.png"
            id="org.coreasim.eclipse.views.ASMUpdateView"
            name="CoreASIM Update View">
      </view>
      <view
            category="org.coreasim.eclipse.CoreASIM"
            class="org.coreasim.eclipse.debug.ui.views.ASMCompareView"
            icon="icons/CoreASIM-Logo.png"
            id="org.coreasim.eclipse.views.ASMCompareView"
            name="CoreASIM Compare View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Call Hierarchy"
            icon="icons/CoreASIM-Logo.png"
            category="org.coreasim.eclipse.CoreASIM"
            class="org.coreasim.eclipse.callhierarchy.ASMCallHierarchyView"
            allowMultiple="true"
            id="org.coreasim.eclipse.views.ASMCallHierarchy">
      </view>
   </extension>
    <extension
          id="org.coreasim.eclipse.perspective"
          name="CoreASIM"
          point="org.eclipse.ui.perspectives">
       <perspective
             class="org.coreasim.eclipse.perspective.PerspectiveFactory"
             icon="icons/CoreASIM-Logo.png"
             id="org.coreasim.eclipse.perspective"
             name="CoreASIM">
       </perspective>
    </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="org.coreasim.eclipse.views.ASMUpdateView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
         <view
               id="org.coreasim.eclipse.views.ASMCompareView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
         <view
               id="org.eclipse.debug.ui.ExpressionView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.debug.ui.BreakpointView"
               visible="true">
         </view>
         <actionSet
               id="org.coreasim.eclipse.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.coreasim.eclipse.perspective">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               relationship="stack"
               relative="left">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               relationship="stack"
               relative="bottom">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               relationship="stack"
               relative="right">
         </view>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="bottom">
         </view>
         <view
               id="org.coreasim.eclipse.views.ASMAstTreeView"
               minimized="false"
               relationship="stack"
               relative="right"
               visible="false">
         </view>
         <newWizardShortcut
               id="org.coreasim.eclipse.newFileWizard">
         </newWizardShortcut>
         <actionSet
               id="org.coreasim.eclipse.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.coreasim.eclipse.launch.LaunchDelegate"
            id="org.coreasim.eclipse.launchConfigurationType"
            modes="run,debug"
            name="ASM Specification"
            public="true"
            sourceLocatorId="org.coreasim.eclipse.debug.sourceLookupDirector"
            sourcePathComputerId="org.coreasim.eclipse.debug.sourcePathComputer">
         <fileExtension
               default="true"
               extension="*.casm">
         </fileExtension>
         <fileExtension
               default="false"
               extension="*.coreasim">
         </fileExtension>
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.coreasim.eclipse.debug.core.model.ASMLineBreakpoint"
            id="org.coreasim.eclipse.debug.lineBreakpoint"
            markerType="asm.markerType.lineBreakpoint">
      </breakpoint>
      <breakpoint
            class="org.coreasim.eclipse.debug.core.model.ASMWatchpoint"
            id="org.coreasim.eclipse.debug.watchpoint"
            markerType="asm.markerType.watchpoint">
      </breakpoint>
      <breakpoint
            class="org.coreasim.eclipse.debug.core.model.ASMMethodBreakpoint"
            id="org.coreasim.eclipse.debug.methodBreakpoint"
            markerType="asm.markerType.methodBreakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.coreasim.eclipse.launchConfigurationType"
            icon="icons/logo-16x.gif"
            id="org.coreasim.eclipse.launchConfigurationTypeImage"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.coreasim.eclipse.launch.LaunchConfigurationTabGroup"
            id="org.coreasim.eclipse.launchConfigurationTabGroup"
            type="org.coreasim.eclipse.launchConfigurationType"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.coreasim.eclipse.launch.LaunchShortcut"
            icon="icons/icon16.gif"
            id="org.coreasim.eclipse.shortcut"
            label="CoreASIM specification"
            modes="run,debug">
         <contextualLaunch>
           <contextLabel
                  label="CoreASIM Specification"
                  mode="run,debug"/>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <test property="org.eclipse.debug.ui.matchesPattern" value="*.casim|*.coreasim"/>
               </iterate>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.coreasim.eclipse.debug.ui.popupMenus"
            targetID="org.coreasim.eclipse.ASMEditor.RulerContext">
         <action
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               id="org.coreasim.eclipse.ASMEditor.rulerContextMenu.enableDisableBreakpointAction"
               label="Enable/Disable Breakpoint"
               menubarPath="debug">
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.coreasim.eclipse.ASMEditor.rulerContextMenu.toggleBreakpointAction"
               menubarPath="debug"
               label="Toggle Breakpoint">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.coreasim.eclipse.debug.ui.editorActions"
            targetID="org.coreasim.eclipse.ASMEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.coreasim.eclipse.ASMEditor.toggleBreakpointAction"
               label="Toggle Breakpoint"
               style="push">
         </action>
         <action
               actionID="RulerClick"
               class="org.coreasim.eclipse.editors.ASMRulerActionDelegate"
               id="org.coreasim.eclipse.editors.ASMRulerActionDelegate"
               label="Select Annotation">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.coreasim.eclipse.debug.core.launching.ASMSourceLookupDirector"
            id="org.coreasim.eclipse.debug.sourceLookupDirector"
            name="ASM Source Lookup Director">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.coreasim.eclipse.debug.core.launching.ASMSourcePathComputerDelegate"
            id="org.coreasim.eclipse.debug.sourcePathComputer">
      </sourcePathComputer>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.coreasim.eclipse.debug.ui.ASMModelPresentation"
            id="org.coreasim.eclipse.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
            debugModel="org.coreasim.eclipse.debug"
            delegateClass="org.coreasim.eclipse.debug.ui.WatchExpressionDelegate">
      </watchExpressionDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="org.coreasim.eclipse.debugging"
            debugModelId="org.coreasim.eclipse.debug">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            autoClose="false"
            autoOpen="true"
            contextId="org.coreasim.eclipse.debugging"
            viewId="org.coreasim.eclipse.views.ASMUpdateView">
      </contextViewBinding>
      <contextViewBinding
            autoClose="false"
            autoOpen="true"
            contextId="org.coreasim.eclipse.debugging"
            viewId="org.coreasim.eclipse.views.ASMCompareView">
      </contextViewBinding>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="CoreASIM debugging"
            id="org.coreasim.eclipse.debugging"
            name="CoreASIM debugging"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         id="asm.markerType.lineBreakpoint"
         name="ASM Line Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="asm.markerType.watchpoint"
         name="ASM Watchpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="asm.markerType.lineBreakpoint">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="asm.markerType.methodBreakpoint"
         name="ASM Method Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="asm.markerType.lineBreakpoint">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="asm.markerType.declarations"
         name="ASM Declarations Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="declarations">
      </attribute>
   </extension>
    <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="org.coreasim.eclipse.markers.ProblemMarker"
         class="org.coreasim.eclipse.editors.quickfix.ASMMarkerResolutionGenerator"/>
   </extension>
    <extension
          point="org.eclipse.ui.exportWizards">
       <category
             id="org.coreasim.eclipse.wizard"
             name="CoreASIM">
       </category>
       <wizard
             category="org.coreasim.eclipse.wizard"
             class="org.coreasim.eclipse.wizards.compiler.ToJarExportWizard"
             icon="icons/CoreASIM-Logo.png"
             id="org.coreasim.eclipse.coreasmtojar"
             name="CoreASIM to Jar Export">
       </wizard>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding
             viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
             <contentExtension
                   pattern="org.coreasim.eclipse.ASMspecificationContent">
             </contentExtension></includes>
       </viewerContentBinding>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             activeByDefault="true"
             contentProvider="org.coreasim.eclipse.editors.outlining.ASMContentProvider"
             id="org.coreasim.eclipse.ASMspecificationContent"
             labelProvider="org.coreasim.eclipse.editors.outlining.ASMLabelProvider"
             name="ASMspecificationContent"
             priority="normal">
          <triggerPoints>
             <or>
                <instanceof
                      value="org.eclipse.core.resources.IFile">
                </instanceof>
                <instanceof
                      value="org.coreasim.eclipse.editors.outlining.ASMOutlineTreeNode">
                </instanceof>
             </or></triggerPoints>
          <possibleChildren>
             <instanceof
                   value="org.coreasim.eclipse.editors.outlining.ASMOutlineTreeNode">
             </instanceof>
          </possibleChildren>
       </navigatorContent>
    </extension>
    <extension
          point="org.eclipse.ui.editors.annotationTypes">
       <type
             name="org.coreasim.eclipse.ui.occurrence">
       </type>
       <type
             name="org.coreasim.eclipse.ui.occurrence.write"
             super="org.coreasim.eclipse.ui.occurrence">
       </type>
    </extension>
    <extension
          point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
             annotationType="org.coreasim.eclipse.ui.occurrence"
             colorPreferenceKey="org.coreasim.eclipse.ui.occurrence.color"
             colorPreferenceValue="212,212,212"
             highlightPreferenceKey="org.coreasim.eclipse.ui.occurrence.highlight"
             highlightPreferenceValue="true"
             includeOnPreferencePage="true"
             label="ASM Occurrences"
             overviewRulerPreferenceKey="org.coreasim.eclipse.ui.occurrence.overview"
             overviewRulerPreferenceValue="true"
             textPreferenceKey="org.coreasim.eclipse.ui.occurrence.text"
             textPreferenceValue="false"
             textStylePreferenceValue="NONE"
             verticalRulerPreferenceKey="org.coreasim.eclipse.ui.occurrence.vertical"
             verticalRulerPreferenceValue="false">
       </specification>
       <specification
             annotationType="org.coreasim.eclipse.ui.occurrence.write"
             colorPreferenceKey="org.coreasim.eclipse.ui.occurrence.write.color"
             colorPreferenceValue="240,216,168"
             highlightPreferenceKey="org.coreasim.eclipse.ui.occurrence.write.highlight"
             highlightPreferenceValue="true"
             includeOnPreferencePage="true"
             label="ASM Write Occurrences"
             overviewRulerPreferenceKey="org.coreasim.eclipse.ui.occurrence.write.overview"
             overviewRulerPreferenceValue="true"
             textPreferenceKey="org.coreasim.eclipse.ui.occurrence.write.text"
             textPreferenceValue="false"
             textStylePreferenceValue="NONE"
             verticalRulerPreferenceKey="org.coreasim.eclipse.ui.occurrence.write.vertical"
             verticalRulerPreferenceValue="false">
       </specification>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
            name="Open Declaration"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.coreasim.eclipse.actions.OpenDeclaration">
      </command>
       <command
            name="Open Call Hierarchy"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.coreasim.eclipse.actions.OpenCallHierarchy">
      </command>
    </extension>
</plugin>
